<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prayosof.yvideo">
    <!-- Declaring the required permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="Manifest.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity
            android:name=".view.browser.activities.FullViewActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.browser.activities.SavedWhatsAppActivity"
            android:label="All Saved Status" />
        <activity
            android:name=".view.browser.activities.WhatsAppStatusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.browser.activities.WebBrowserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.IntroSliderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.Splash2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.audios.NewAudioActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.activity.TestActivity" />
        <activity
            android:name=".view.activity.AudioPlayerActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>

            <!-- <intent-filter tools:ignore="AppLinkUrlError"> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data android:mimeType="audio/*" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".view.activity.FacebookActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".view.activity.audioEffects.EquilizerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.video.CustomExoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/PlayerTheme" />
        <activity
            android:name=".view.activity.video.VideoPlay2Activity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.video.VideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:theme="@style/PlayerTheme">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.PlayerActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter tools:ignore="AppLinkUrlError"> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data android:mimeType="audio/*" /> -->
            <!-- </intent-filter> -->


            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- <data android:scheme="file" /> -->
            <!-- <data android:mimeType="*/*" /> -->
            <!-- <data android:pathPattern=".*\\.amr" /> -->
            <!-- <data -->
            <!-- android:host="www.my.app.com" -->
            <!-- android:path="/launch" -->
            <!-- android:scheme="http"/> -->
            <!--  -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".view.activity.OnBoardingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".services.NotificationService" />

        <provider
            android:name=".helper.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".services.MusicService"
            android:enabled="true"
            android:exported="true" /> <!-- android:process=":music" -->
        <receiver android:name=".services.NotificationActionService" />
        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <service android:name=".services.OnClearFromRecentService" />
        <service android:name=".services.NewMediaPlayerService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service android:name=".view.activity.audios.CustomMediaPlayerService" />
    </application>

</manifest>